html, body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: whitesmoke;
  background-image: url("./PA022198.jpg");
  background-color: rgb(143, 142, 142);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 700;
margin: 0 0 35px;
letter-spacing: 1px;
text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
  .email-icon {
    margin-bottom: 5rem;
  }
}

@media (max-width: 813px) {
  body {
    background-image: url("./mobile-background.jpg");
  }

  .email-icon {
    margin-bottom: 5rem;
  }

}

@media (max-width: 415px) {
  body {
    background-image: url("./mobile-background.jpg");
  }

  .email-icon {
    margin-bottom: 5rem;
  }

}